In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import config
import utility.df
import utility.iolib
import utility.plotlib

#env = sys.argv[1] if len(sys.argv) > 2 else "dev"

# Pre-process data in lesson history table:
# 1) Get the list of pupilId from subscription table
# 2) In lesson history table, filter out all records without a matched pupilId
# 3) Make sure the time period of study for the two tables are the same

# Compute the product daily usage measured in seconds, 
# using both the complete and incomplete lesson history tables:
# 1) Use the timeTaken records in the complete lesson history tables
# 2) Only use the timeTaken records for eventually completed lessons in the incomplete history tables

In [2]:
# Setup configuration
cfg = config.ResearchConfig
time_format = cfg.CSV_TIME_FORMAT
date_format = cfg.CSV_DATE_FORMAT
cutoff_date = pd.to_datetime(cfg.CUTOFF_DATE, format=cfg.CSV_DATE_FORMAT)

# Retrieve data
df_subspt, df_lesson, df_incomp, df_crclum = utility.iolib.retrieve_data(cfg)
print("Complete loading data for subscription and lesson history!")

Complete loading data for subscription and lesson history!

In [3]:
first_date_lesson = df_lesson.marked.min()
first_date_incomp = df_incomp.created.min()
last_date_lesson = df_lesson.marked.max()
last_date_incomp = df_incomp.created.max()

first_date = first_date_lesson if first_date_lesson < first_date_incomp else first_date_incomp
last_date = last_date_lesson if last_date_lesson > last_date_incomp else last_date_incomp

dates = pd.date_range(start=first_date, end=last_date, freq='D')

In [10]:
df_lesson_short = df_lesson.groupby(['pupilId', df_lesson['marked'].dt.date]).sum()

In [12]:
df_lesson_short

                      age  exerciseId  stackDepth  timeTaken
pupilId marked
985958  2015-12-07   3975         300           3       2598
        2016-01-05   1325         100           1       2745
        2016-01-06   2650         300           2       3535
        2016-01-19   2650         300           2       2742
        2016-01-21   6625         900           5       2314
        2016-01-22   1325         100           1       2745
        2016-01-26   2650         800           2       2299
        2016-01-28   2650         400           2       2001
        2016-02-01   1325         200           1       1680
        2016-02-04   2650         400           2       4077
        2016-02-24   3975        1100           3       3014
        2016-02-26   5300         600           4       2620
        2016-02-29   5350        1000           4       2004
        2016-03-02   4025         300           3       3519
        2016-03-04   4075         500           3       3427
        2016-03-08   4075         800           3       3817
        2016-03-10   4025         300           3       4974
        2016-03-15   4025         500           3       1799
        2016-03-17   4025         500           3       1971
        2016-03-21   3975        1200           3       3565
        2016-03-23   5400        1000           4       5093
        2016-04-26   5400        1000           4       3390
        2016-04-29   1375         200           1       2745
        2016-05-11   1375         200           1       2745
        2016-05-18   5425         400           4       2704
        2016-05-23   2700         200           2       3670
987818  2015-12-05   3950        1200           4       1816
        2015-12-07   3000         300           3       2295
        2015-12-09   2950         300           3       2016
        2015-12-11    975         100           1        391
...                   ...         ...         ...        ...
1293298 2018-04-19   9300        1800           8       2076
1293299 2018-04-15   3200         600           6       1368
        2018-04-16   2625         900           5       1185
        2018-04-22   1575         700           3       1048
1293300 2018-04-11   8625        1700           8       2119
        2018-04-12  10825        2300           9       3630
        2018-04-15   7350        1200           9       3447
        2018-04-18   4050         500           5       2904
1293353 2018-04-15   4425         600           4       1561
1293417 2018-04-20   2325         300           3       1632
1293630 2018-04-20   5675         500           5       1158
        2018-04-21   2225         200           2       1142
        2018-04-22   3350         300           3        387
1293635 2018-04-16   4200         800           6       2078
        2018-04-17    750         200           1        555
        2018-04-20   2100         800           3        451
1293639 2018-04-16   4250         400           4       1571
        2018-04-17   4300         400           4        934
        2018-04-18   2000         200           2       2911
1293650 2018-04-16   4900         600           6       1111
        2018-04-17  21200        2800          26       4306
        2018-04-18   1550         300           3        472
        2018-04-22   4850        1000           6       2268
1293653 2018-04-18  12350        1900          13       1708
        2018-04-19   8550        1700           9       2752
1295121 2018-04-20   1025         100           1        481
        2018-04-21  14875        3300          15       6072
        2018-04-22  10875        5600          11       6068
1295198 2018-04-22  12675        4900          12       2381
1295205 2018-04-22  10050        2400          10       5750

[87671 rows x 4 columns]