In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import config
import utility.df
import utility.iolib
import utility.plotlib

#env = sys.argv[1] if len(sys.argv) > 2 else "dev"

In [2]:
# Setup configuration
cfg = config.ResearchConfig
time_format = cfg.CSV_TIME_FORMAT
date_format = cfg.CSV_DATE_FORMAT
cutoff_date = pd.to_datetime(cfg.CUTOFF_DATE, format=cfg.CSV_DATE_FORMAT)

# Retrieve data
df_subspt, df_lesson, df_incomp, df_crclum = utility.iolib.retrieve_data(cfg)
print("Complete loading data for subscription and lesson history!")

Complete loading data for subscription and lesson history!

In [3]:
pupil_list_mon = df_subspt[df_subspt.subscription_type==cfg.TYPE_MONTHLY].pupilId.unique()
pupil_list_ann = df_subspt[df_subspt.subscription_type==cfg.TYPE_ANNUAL].pupilId.unique()
print('Number of mon/thly subscribers = {}'.format(len(pupil_list_mon)))
print('Number of annual subscribers = {}'.format(len(pupil_list_ann)))

Number of mon/thly subscribers = 3504
Number of annual subscribers = 2525

In [5]:
df_usage = utility.df.customer_usage(df_subspt, df_lesson, df_incomp, cfg)

By the cutoff date 2018-04-20, there are 1234 active subscriptions.
These subscribers shall be removed from the analysis because we have no evidence to know the lifetime of their subscriptions.

In the first month of dataset, there are 154 renewal or new subscriptions.
These subscribers shall be removed from the analysis because we have no evidence to show if they renewed or newly joined.

In summary, there are 1380/5685 subscribers being removed from the dataset in the analysis.

Calculate customer month in the subscription table.

100%|██████████| 4305/4305 [00:05<00:00, 824.05it/s]

Start assigning customer month for complete lesson table.

100%|██████████| 21100/21100 [1:09:42<00:00,  5.04it/s]

Start assigning customer month for incomplete lesson table.

100%|██████████| 21100/21100 [06:50<00:00, 51.35it/s]

In [5]:
df_usage.head()

                    customer_month  time_taken_complete  time_taken_incomplete
pupilId date
988318  2016-07-16             1.0                451.0                    0.0
        2016-07-18             1.0               2012.0                    0.0
        2016-07-20             1.0               3640.0                  230.0
        2016-07-21             1.0                  0.0                  124.0
        2016-07-22             1.0               3270.0                 1536.0

In [6]:
df_usage.customer_month.unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  9., 10., 11., 13.,  8., 12.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 25., 24.])